.swiper-pagination-progressbar {
  background-color: rgb(156 163 175 / 0.2) !important;
  margin-bottom: 10px;
}

.swiper-pagination-progressbar-fill {
  background-color: #10b981 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #10b981 !important;
  display: none !important;
}

@media only screen and (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: block !important;
  }
}
